<header class="navbar navbar-expand header">
 <!--  <div class="navbar navbar-brand nav" >
  
  </div>
  <div class="navbar-nav-scroll h-5" routerLink="/gitSearch">
    <h5>GitProject</h5>
  </div> -->

  <nav class="sticky-top">
      <a class="navbar-brand h-5" routerLink="/gitSearch">
          <i class="fa fa-gitlab icon-color" aria-hidden="true"></i>
       GitProject
      </a>
    </nav>
    <button class="btn btn-sm btn-outline-success pull-right" type="button">Home</button>
</header>








